.DS_Store
/Calculadora/target/
Calculadora/.idea/
workspace.xml
Benchmark/target
Benchmark/.idea
Benchmark/transCaixa1M.txt
Benchmark/transCaixa2M.txt
Benchmark/transCaixa4M.txt
Benchmark/transCaixa8M.txt
